@-webkit-keyframes slidein-right {
      from {
        margin-left:100%;
        width:100%
      }
      
      to {
        margin-left:0%;
        width:100%;
      }
    }
@keyframes slidein-right {
      from {
        margin-left:100%;
        width:100%
      }

      to {
        margin-left:0%;
        width:100%;
      }
    }
@-webkit-keyframes slidein50-right {
      from {
        margin-left:100%;
        width:100%
      }

      to {
        margin-left:25%;
        width:100%;
      }
    }
@keyframes slidein50-right {
      from {
        margin-left:100%;
        width:100%
      }

      to {
        margin-left:25%;
        width:100%;
      }
    }
@-webkit-keyframes slidein-left {
      from {
        margin-left:-900px;
        width:100%
      }

      to {
        margin-left:0%;
        width:100%;
      }
    }
@keyframes slidein-left {
      from {
        margin-left:-900px;
        width:100%
      }

      to {
        margin-left:0%;
        width:100%;
      }
    }
@-webkit-keyframes slidedown {
      from {
        margin-top:-100%;
        width:100%
      }

      to {
        margin-top:0%;
        width:100%;
      }
    }
@keyframes slidedown {
      from {
        margin-top:-100%;
        width:100%
      }

      to {
        margin-top:0%;
        width:100%;
      }
    }
