.nojs #container {
    margin-top: 100px;
}
.nojs #info {
    height: 500px;
}
.nojs #info .title1 {
    margin-top: 180px;
}
.nojs #nsbanner {
    display: block;
    margin: -8px;
    padding-right: 10px;
    text-align: center;
    border-bottom: 2px solid #555;
}
.nojs #nsbanner ul {
    display: inline-block;
    list-style-type: none;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    zoom: 1;
    *display: inline;
    overflow: hidden;
}
.nojs #nsnav {
    margin-top: 5px;
    background-color: #3BB4D5;
    border-top: 2px solid #555;
    margin-right: -10px;
}
.nojs #nsbanner ul li {
    font-size: 1.3em;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    float: left;
}
.nojs #nsbanner ul li a:hover {
    color: #0095BD;
}
.nojs #boxes {
    display: none;
}
