@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/LeagueGothic-Regular.otf);
}
body {
    font-family: 'League Gothic', Impact, sans;
    font-weight: normal;
    background-color: #222222;
    color: #ffffff;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
.clear {
    clear: both;
}
.active {
    display: block;
}
#container{
    max-width: 960px;
    width: 100%;
    margin: auto;
    margin-top: 140px;
}
#content {
    width: 100%;
}
#banner {
    font-size: 18pt;
    margin-bottom: 5px;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name: slidein-left;
    animation-duration: 1.2s;
    animation-name: slidein-left;
}
#info {
    text-align: center;
    width: 100%;
    height: 380px;
    margin-bottom: 5px;
    background-color: #3BB4D5;
    overflow: hidden;
}
#info .title1{
    margin: auto;
    margin-top: 130px;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein-right;
    animation-duration: 1s;
    animation-name: slidein-right;
}
#info #aboutcontainer {
    display: none;
}
#info #resumecontainer {
    display: none;
}
#info #githubcontainer {
    display: none;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name: slidein-right;
    animation-duration: 1.2s;
    animation-name: slidein-right;
    position: relative;
    width: 99%;
}
#gitimg {
    position: relative;
    float: left; 
}
#gitimg img{
    height: 500px;
    width: 500px;
    position: absolute;
    left: -80px;
    top: -10px;
}
#gittext {
    margin-top: 140px;
    margin-left: 50%;
    width: 50%;
    font-size: 22pt;
    float: right;
}
#gittext .button {
    color: #3BB4D5;
    background-color: #fff;
    text-align: center;
    width: 125px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
}
#gittext .button:hover {
    background-color: #0095BD;
    color: #fff;
}
#gittext .button a {
    color: inherit;
    text-decoration: none;
}
#info #contactcontainer {
    display: none;
}
#boxes {
    //width: 100%;
    //margin-right: -1px; /* fucking voodoo */
    text-align: justify;
    text-justify: distribute-all-lines;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name: slidein-right;
    animation-duration: 1.2s;
    animation-name: slidein-right;
}
#boxes a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 24.21875%; //specificity to fix browser pixel rounding errors
}
.box {
    font-size: 2.2em;
    width: 100%;
    height: 230px;
    margin-top: 5px;
    text-align: center;
    float: left;
    background-color: #555;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.box:hover {
    background-color: #3BB4D5;
}
.box:target {
    background-color: #3BB4D5;
    margin-top: -5px;
    padding-top: 10px;
}
.box p {
    margin-top: 85px;
}
.title1 {
    font-size: 68pt;
}
.title2 {
    font-size: 35pt;
}
.subtitle {
    font-size: 28pt;
    color: #3BB4D5;
}
